* {
    box-sizing: border-box;
    margin: 0;
}

@keyframes efecto {
    0% {
        width: 600px;
        height: 315px;
    } 
    100% {
        width: 900px;
        height: 515px;
    }
}

.zoom{width: 600px;}

.zoom:hover{
    animation-name: efecto;
    animation-duration: 3s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 768px){
    .zoom{
        width: 100%;
    }
}